<div class="content" role="main">
  <h2>Live City Wise Air Quality Index</h2>
    <div class="spacer"></div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="city">
        <th mat-header-cell *matHeaderCellDef> City </th>
        <td mat-cell *matCellDef="let element"> {{element.city}}</td>
      </ng-container>
      <ng-container matColumnDef="aqi">
        <th mat-header-cell *matHeaderCellDef> AQI </th>
        <td mat-cell *matCellDef="let element" [appHighlight]="element.aqi"> {{element.aqi | number : '1.0-2'}}</td>
      </ng-container>
      <ng-container matColumnDef="last_updated">
        <th mat-header-cell *matHeaderCellDef> Last Updated </th>
        <td mat-cell *matCellDef="let element"> {{element.last_updated | lastUpdated}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <!-- <table>
      <thead>
        <tr>
          <th>City</th>
          <th>Current AQI</th>
          <th>Last Updated</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of aqiData">
          <td>{{ data.city }}</td>
          <td [appHighlight]="data.aqi">{{ data.aqi | number : '1.0-2' }}</td>
          <td>{{ data.last_updated | lastUpdated }}</td>
        </tr>
      </tbody>
    </table> -->

</div>
<router-outlet></router-outlet>
